.settings{
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;

    border: 2px groove var(--groove-color);
    padding: 6px;

    position: relative;

    padding-top: 16px;

    .settings-title{
        position: absolute;

        left: 10px;
    
        transform: translateY(-50%);

        background: var(--background);
    }

    .setting{
        display: contents;
    }

    h4, textarea {
        grid-column: span 2;
    }
    textarea {
        width:100%;
    }

    &:not(:last-child){
        margin-bottom: 10px;
    }
}