<div class="app-container" [class.fullscreen]="isFullscreen" [class.not-fullscreen]="!isFullscreen">
  <div class="app-content window-container">
    <div class="heading window-header">
      Bitmap font creator
    </div>
    <div class="settings">
      <div class="top">
        <p>
          This program allows the user to create a tilemap spritesheet of letters and turn them into a bitmap font. Either export the .fnt file or .otf (Open Font Type) file.
        </p>
        
        <p>Add your image, insert the right data and download the result.</p>
      </div>
      <div class="left bevel-in">
        <app-upload-image *ngIf="!hasImage()" [image]="model.imageData"(onImageUpload)="loadImage($event)"></app-upload-image>
        <app-font-image-display *ngIf="hasImage()" [settings]="model.settings" [image]="model.imageData"></app-font-image-display>
      </div>
      <div class="right">
        <app-font-settings [settings]="model.settings" (onSettingsChange)="loadSettings($event)"></app-font-settings>
      </div>
      <div class="bottom">
        <button (click)="downloadFnt()">Save Fnt</button>
        <button (click)="downloadOtf()">Save OTF</button>
      </div>
  
    </div>
  </div>
</div>