<div class="app-container" [class.fullscreen]="isFullscreen" [class.not-fullscreen]="!isFullscreen">
  <div class="app-content window-container">
    <div class="heading window-header">
      Bitmap font creator
    </div>
    <div class="settings">
      <div class="top">
        This program uses a tilemap containing (usually hand drawn) sprites of letters into an .fnt bitmap font file. This file can be used and loaded in several programs for making games, Godot, Monogame, etc. Add your image, insert the right data and download the reuslt.
      </div>
      <div class="left">
        <app-upload-image [image]="model.imageData"(onImageUpload)="loadImage($event)"></app-upload-image>
      </div>
      <div class="right">
        <app-font-settings [settings]="model.settings" (onSettingsChange)="loadSettings($event)"></app-font-settings>
      </div>
      <div class="bottom">
        <button (click)="download()">Save Fnt</button>
      </div>
  
    </div>
  </div>
</div>